h1 {
    text-align: center;
}

.form {
    max-width: 90%;
}

input {
    margin-top: 1.1rem;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.alert {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}